@import "main.css";
@import "viewbook.css";
@import "viewlist.css";
@import "addbook.css";
@import "addbookdialog.css";

*{margin:0;padding:0;font-family:NanumGothic,"나눔고딕","Malgun Gothic",Dotum,"돋움",Gulim,"굴림",Helvetica,Apple-Gothic;-webkit-text-size-adjust:none;}
body{background-color:#f8f8f8;line-height:1.25em;color:#000;word-wrap:break-word;word-break:break-all;position:relative;}
body,input,select,textarea{font-size:14px;}
.it,textarea{border:1px solid #bcbcbc;}
li{list-style:none;}
ul,ol{list-style:none;}
table{border-collapse:collapse;}
img,fieldset{border:none;}
a{color:#000;text-decoration:none;cursor:pointer;}
label{cursor:pointer;}
strong{font-weight:normal;}
em,address{font-style:normal;}
.hc,.nc,hr{display:none!important;}
.is{width:19px;height:19px;}
.fx{max-width:100%;}

footer{background:blue}

.myScrollbarV {
    position:absolute;
	z-index:100;
	width:8px;bottom:7px;top:2px;right:1px
}

.myScrollbarV > div {
	position:absolute;
	z-index:100;
	width:100%;

	/* The following is probably what you want to customize */
	background:-webkit-gradient(linear, 0 0, 100% 0, from(#f00), to(#900));
	border:1px solid #800;
	-webkit-background-clip:padding-box;
	-webkit-box-sizing:border-box;
	-webkit-border-radius:4px;
	-webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
}