<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.iamdenny.MyBookManager"
	version 	= "0.4.1">

	<name>나의도서관리</name>

	<description>
		내가 읽고 있는, 읽었던, 읽어야 할 책들을 관리하는 앱 입니다.
	</description>

	<author href="http://iamdenny.com"
		email="hello@iamdenny.com">
		Denny Lim
	</author>

	<icon src="icon.png" gap:role="default" />
    <gap:splash src="splash.png" />

	<feature name="http://api.phonegap.com/1.0/battery"/>
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>

	<preference name="orientation" value="portrait" />
    
    <access origin="*" />
</widget>